@import url("https://cdn.jsdelivr.net/npm/modern-normalize/modern-normalize.min.css");
@import url("https://fonts.googleapis.com/css2?family=Spline+Sans+Mono:ital,wght@0,300..700;1,300..700&display=swap");
@import url("https://rsms.me/inter/inter.css");

// Colour palette
$colour-red: hsl(343, 81%, 75%);
$colour-orange: hsl(23, 92%, 75%);
$colour-yellow: hsl(41, 86%, 83%);
$colour-green: hsl(115, 54%, 76%);
$colour-cyan: hsl(170, 57%, 73%);
$colour-blue: hsl(217, 92%, 76%);
$colour-purple: hsl(267, 84%, 81%);
$colour-pink: hsl(316, 72%, 86%);
$colour-grey: hsl(0, 0%, 65%);

// UI colours
$colour-bg-1: hsl(170, 21%, 5%); // bg colour
//$colour-bg-1: #000000;
$colour-bg-2: hsl(170, 16%, 23%); // lighter bg (like text blocks)
$colour-fg-1: hsl(170, 64%, 95%); // fg text colour
$colour-fg-2: $colour-cyan; // accent colour
$colour-a11y: hsl(170, 100%, 45%); // a11y highlight
$colour-fg-disabled: hsl(170, 80%, 25%); // disabled element */

/* Colour classes */
.cr-background {
  color: $colour-bg-1;
}

.cr-background-alt {
  color: $colour-bg-2;
}

.cr-foreground {
  color: $colour-fg-1;
}

.cr-accent {
  color: $colour-fg-2;
}

.cr-highlight {
  color: $colour-a11y;
}

.cr-grey {
  color: $colour-grey;
}

.cr-red {
  color: $colour-red;
}

.cr-orange {
  color: $colour-orange;
}

.cr-yellow {
  color: $colour-yellow;
}

.cr-green {
  color: $colour-green;
}

.cr-cyan {
  color: $colour-cyan;
}

.cr-blue {
  color: $colour-blue;
}

.cr-purple {
  color: $colour-purple;
}

.cr-pink {
  color: $colour-pink;
}

.cr-disabled {
  color: $colour-fg-disabled;
}

/* Font */
:root {
  color-scheme: dark;
  font-family: "Spline Sans Mono", monospace;
}

body {
  background-color: $colour-bg-1;
  color: $colour-fg-1;
  // font-feature-settings: "ss04", "ss07", "ss08", "cv01", "cv10";
  font-weight: 300;
}

.cr-body {
  // Regular border:
  // border-top: 2px solid $colour-f2;

  // Pride border:
  border-image: linear-gradient(
      90deg,
      $colour-red,
      $colour-orange,
      $colour-yellow,
      $colour-green,
      $colour-blue,
      $colour-purple
    )
    1 / 3px 0 0 0;

  padding: 25px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $colour-fg-2;
  font-size: inherit;
}

h1::before {
  content: "# ";
}

h2::before {
  content: "## ";
}

h3::before {
  content: "### ";
}

a {
  color: $colour-fg-1;
}

a:hover {
  color: $colour-fg-2;
}

abbr:hover {
  cursor: help;
}

hr {
  //border: 1px solid $colour-fg-1;
  color: $colour-fg-1;
  border: none;
  content: "---";
  text-align: center;
}

figure {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  flex-flow: column;
}

figcaption {
  text-align: center;
  font-style: italic;
  font-size: small;
  padding: 3px;
}

img.cr-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  margin-bottom: 5px;
}

.cr-wrapper {
  max-width: 825px;
  margin: auto;
}

.cr-list {
  margin: auto;
  text-align: justify;
  text-justify: inter-word;
}

.cr-footer {
  color: $colour-fg-1;
  //padding: 20px 0 1px;
  margin-top: 30px;
  margin-bottom: 20px;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  //border-top: 1px solid $colour-fg-1;
}

.cr-horizontal-rule {
  width: 100%;
  text-align: center;
}

.cr-link-external::after {
  font-family: "tabler-icons", sans-serif;
  font-style: normal;
  font-weight: 400;
  content: "\2006\ea99";
}

.cr-block {
  background-color: $colour-bg-2;
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  border-radius: 0;
}

.cr-site-name {
  font-size: 32pt;
  font-weight: 400;
}

.cr-footnote {
  font-size: small;
}

.cr-cc-icon {
  font-size: 22pt;
  user-select: none;
}

.cr-paragraph {
  color: $colour-fg-1;
  margin-bottom: 4px;
  display: inline-block;
  width: 100%;
}

.cr-button {
  // transition-duration: 0.3s;
  color: $colour-fg-1;
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  border: 1px solid $colour-fg-1;
  //border-radius: 15px;
}

.cr-button:hover {
  background-color: $colour-fg-1;
  color: $colour-bg-1;
  //border: 1px solid $colour-fg-2;
}

.cr-button-urgent {
  @extend .cr-button;
  color: $colour-red;
  border-bottom: 1px solid $colour-red;
}

.cr-button-urgent:hover {
  color: $colour-fg-2;
  border-bottom: 1px solid $colour-fg-2;
}

.cr-button-icon {
  float: right;
}

.cr-header {
  color: $colour-fg-2;
  font-size: inherit;
  font-style: normal;
  margin: 35px 0 30px 0;
}

.cr-header-image {
  width: 64px;
  height: 64px;
  margin-bottom: 16px;
}

.cr-notice {
  background: repeating-linear-gradient(
    -45deg,
    hsl(343, 65%, 35%),
    hsl(343, 65%, 35%) 10px,
    hsl(343, 75%, 25%) 10px,
    hsl(343, 75%, 25%) 20px
  );
  color: #ffffff;
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: inline-block;
  width: 100%;
}

.cr-notice-title {
  color: $colour-fg-1;
}

.cr-header-link {
  text-decoration: none;
  font-style: normal;
  color: $colour-fg-2;
}

.cr-a11y-icon {
  float: right;
  color: $colour-fg-2;
}

.cr-a11y-desc {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

:focus-visible {
  outline: $colour-a11y solid 4px;
  outline-offset: 5px;
  transition-duration: 0ms;
}

ul {
  list-style-type: "*  ";
}

.cr-code {
  border-left: 1px solid $colour-fg-2;
  background-color: $colour-bg-2;
  font-family: "Spline Sans Mono", monospace;
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: inline-block;
  width: 100%;
  white-space: pre-wrap;
}

.cr-blockquote {
  border-left: 1px solid $colour-fg-2;
  background-color: $colour-bg-2;
  padding: 0 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: inline-block;
  width: 100%;
}
