@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&display=swap");
@import url("https://rsms.me/inter/inter.css");

$bg: #f5ebe0;
$bg2: #e2e1de;
$accent: #006064;
$fg: #252423;
$grey: #aaaaaa;
$red: #b71c1c;
$orange: #e65100;
$yellow: #f57f17;
$green: #1b5e20;
$blue: #0d47a1;
$purple: #311b92;
$disabled: #444444;

$fonts: "Alegreya Sans", "Helvetica Neue", Arial, sans-serif;

.cr-foreground {
  color: $fg;
}
.cr-background {
  color: $bg;
}
.cr-grey {
  color: $grey;
}
.cr-red {
  color: $red;
}
.cr-orange {
  color: $orange;
}
.cr-yellow {
  color: $yellow;
}
.cr-green {
  color: $green;
}
.cr-blue {
  color: $blue;
}
.cr-purple {
  color: $purple;
}
.cr-disabled {
  color: $disabled;
}

body {
  background-color: $bg;
  color: $fg;
  padding: 25px;
  font-family: $fonts;
  font-size: large;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  font-style: italic;
}

.cr-wrapper {
  max-width: 825px;
  margin: auto;
}

.cr-list {
  margin: auto;
  text-align: justify;
  text-justify: inter-word;
}

.cr-footer {
  color: $fg;
  padding: 15px;
  padding-top: 20px;
  padding-bottom: 1px;
  margin-top: 50px;
  margin-bottom: 20px;
  text-decoration: none;
  display: inline-block;
  width: calc(100% - 30px);
  border-top: 2px solid $fg;
}

a {
  color: $fg;
}

code {
  font-family: monospace;
  background: $bg2;
  padding: 5px;
  border-radius: 5px;
}

hr {
  border: 1px solid $fg;
}

.cr-highlight-font {
  color: $accent;
  font-weight: 400;
  font-style: italic;
}

.cr-site-name {
  font-size: 32pt;
  font-weight: 400;
}

.cr-footnote {
  font-size: medium;
}

.cr-cc-icon {
  font-size: 22pt;
}

.cr-cc-icon:hover {
  cursor: default;
}

.cr-cc-icon i:hover {
  cursor: help;
}

.cr-paragraph {
  color: $fg;
  margin-bottom: 20px;
  display: inline-block;
  width: 100%;
  text-align: justify;
}

.cr-button {
  background-color: $fg;
  color: $bg;
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-decoration: none;
  display: inline-block;
  width: calc(100% - 30px);
  transition-duration: 0.3s;
  //border: 1.5px solid $fg;
  border-radius: 5px;
}

.cr-button:hover {
  background-color: $accent;
  //color: $fg;
}

.cr-button-icon {
  float: right;
}

.cr-header {
  color: $accent;
  width: calc(100% - 30px);
  font-size: xx-large;
}

.cr-header-image {
  width: 32px;
  height: 32px;
}

.cr-notice {
  background: repeating-linear-gradient(
    -45deg,
    $yellow,
    $yellow 10px,
    $orange 10px,
    $orange 20px
  );
  color: white;
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: inline-block;
  width: calc(100% - 30px);
  //border-bottom: 2px solid $fg;
  border-radius: 5px;
  text-align: center;
}

.cr-notice h2 {
  font-weight: 400;
}

.cr-header-link {
  text-decoration: none;
}
