@import url("https://rsms.me/inter/inter.css");

$bg: #000000;
$bg2: #101010;
$accent: #84ffff;
$fg: #ffffff;
$grey: #aaaaaa;
$red: #ff8a80;
$orange: #ffd180;
$yellow: #ffff8d;
$green: #b9f6ca;
$blue: #80d8ff;
$purple: #b388ff;
$disabled: #444444;

$fonts: "Inter", "Helvetica Neue", Arial, sans-serif;

.cr-foreground {
  color: $fg;
}
.cr-background {
  color: $bg;
}
.cr-grey {
  color: $grey;
}
.cr-red {
  color: $red;
}
.cr-orange {
  color: $orange;
}
.cr-yellow {
  color: $yellow;
}
.cr-green {
  color: $green;
}
.cr-blue {
  color: $blue;
}
.cr-purple {
  color: $purple;
}
.cr-disabled {
  color: $disabled;
}

.cr-accent {
  color: $accent;
}

body {
  background-color: $bg;
  /* background: repeating-linear-gradient(
    -45deg,
    $bg,
    $bg 10px,
    $bg2 10px,
    $bg2 20px
  ); */
  color: $fg;
  padding: 25px;
  font-family: $fonts;
  font-feature-settings: "ss01", "ss03", "ss04", "cv01", "cv10";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  color: $accent;
}

.cr-wrapper {
  max-width: 825px;
  margin: auto;
}

.cr-list {
  margin: auto;
  text-align: justify;
  text-justify: inter-word;
}

.cr-footer {
  color: $fg;
  padding: 15px;
  padding-top: 20px;
  padding-bottom: 1px;
  margin-top: 30px;
  margin-bottom: 20px;
  text-decoration: none;
  display: inline-block;
  width: calc(100% - 30px);
  border-top: 2px solid $fg;
}

a {
  color: $fg;
  //transition-duration: 0.3s;
}

a:hover {
  color: $accent;
}

.cr-link-external::after {
  font-family: "tabler-icons";
  font-style: normal;
  font-weight: 400;
  content: "\2006\ea99";
}

pre {
  font-family: "JetBrains Mono", "Courier New", Courier, monospace;
  font-size: smaller;
}

.cr-code-title {
  font-family: "JetBrains Mono", "Courier New", Courier, monospace;
  font-size: x-small;
}

.cr-code {
  background-color: $bg2;
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-decoration: none;
  display: inline-block;
  width: calc(100% - 30px);
  //transition-duration: 0.3s;
  //border: 1.5px solid $fg;
  border-radius: 0px;
}

.cr-block {
  background-color: $bg2;
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-decoration: none;
  display: inline-block;
  width: calc(100% - 30px);
  //transition-duration: 0.3s;
  //border: 1.5px solid $fg;
  border-radius: 0px;
}

hr {
  border: 1px solid $fg;
}

figure {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  flex-flow: column;
}

figcaption {
  text-align: center;
  font-style: italic;
  font-size: small;
  padding: 3px;
}

img.cr-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  margin-bottom: 5px;
}

.cr-site-name {
  font-size: 32pt;
  font-weight: 400;
}

.cr-footnote {
  font-size: small;
}

.cr-cc-icon {
  font-size: 22pt;
  user-select: none;
}

.cr-paragraph {
  color: $fg;
  margin-bottom: 4px;
  display: inline-block;
  width: 100%;
}

.cr-button {
  background-color: $fg;
  color: $bg;
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-decoration: none;
  display: inline-block;
  width: calc(100% - 30px);
  //transition-duration: 0.3s;
  //border: 1.5px solid $fg;
  border-radius: 0px;
}

.cr-button:hover {
  background-color: $accent;
  color: $bg;
}

.cr-button-icon {
  float: right;
}

.cr-header {
  color: $accent;
  font-size: x-large;
  font-weight: normal;
  margin: 35px 0px 30px 0px;
}

.cr-header-image {
  width: 32px;
  height: 32px;
  padding-bottom: 16px;
}

.cr-notice {
  background: repeating-linear-gradient(
    -45deg,
    #ef6c00,
    #ef6c00 10px,
    #e65100 10px,
    #e65100 20px
  );
  color: #ffffff;
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: inline-block;
  width: calc(100% - 30px);
}

.cr-notice-title {
  color: $fg;
}

.cr-header-link {
  text-decoration: none;
  color: $accent;
}

.cr-a11y-icon {
  float: right;
  color: $accent;
}

.cr-a11y-desc {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
