@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

$bg: #e0f6ff;
$fg: #000000;
$grey: #444444;
$red: #bc3e31;
$orange: #d43900;
$yellow: #8d6708;
$green: #18824c;
$blue: #2a7ab0;
$purple: #8e44ad;
$disabled: #aaaaaa;

$fonts: 'JetBrains Mono', monospace;

.cfore { color: $fg; }
.cback { color: $bg; }
.cgrey { color: $grey; }
.cxred { color: $red; }
.corag { color: $orange; }
.cyelo { color: $yellow; }
.cgren { color: $green; }
.cblue { color: $blue; }
.cprpl { color: $purple; }
.cdbld { color: $disabled; }

body {
    background-color: $bg;
    color: $fg;
    padding: 25px;
    font-family: $fonts;
}

.wraps {
    max-width: 800px;
    margin: auto;
}

.lists {
    margin: auto;
    text-align: justify;
    text-justify: inter-word;
}

footer {
    margin-top: 2%;
    padding-top: 10px;
    padding-bottom: 5px;
    width: 100%;
}

a {
    color: $blue;
}

code {
    font-family: $fonts;
}

.sfont {
    font-style: italic;
    font-weight: 700;
}

.sname {
    color: black;
    font-size: 32pt;
}

.pttle {
    font-size: 24pt;
}

.shead {
    font-size: 18pt;
}

.fnote {
    font-size: small;
}

.butts {
    background-color: $fg;
    color: $bg;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: none;
    display: inline-block;
    width: calc(100% - 20px);
    border-radius: 5px;
    transition-duration: 0.3s;
}

.butts:hover {
    background-color: $bg;
    color: $fg;
}
